	/***
profile.css: all styling for profile page document
***/

* {
	padding: 0;
	margin: 0;
}

html {
	position: relative;
	height: 100%;
	width: 100%;
}

body {
	position: relative;
	height: 100%;
	width: 100%;
	font-family: Tahoma, Geneva, sans-serif;
}

/*** Header styling ***/
#header {
	width: 100%;
	height: 15%;
	text-align: center;
	border-bottom: 3px solid #87cefa;
	box-sizing: border-box;
}

#header img {
	display: inline-block;
	margin: 0;
	padding: 0;
	height: 98%;
}

/*** profile's main information ***/
#mainInfo {
	position: relative;
	width: 100%;
	height: 85%;
	background: #e8e8e8;
}

/*** profile picture section ***/
#proPicSection {
	position: absolute;
	height: 100%;
	width: 30%;
	display: inline-block;
	text-align: center;
	border-right: 3px dotted #f0ad4e;
	box-sizing: border-box;
}

#proPicSection img {
	width: 300px;
	border-radius: 35px;
	position: relative;
	border: 1px solid black;
}

/*** user experience buttons section ***/
.actions {
	font-size: 1.0em;
	text-align: center;
	position: absolute;
	right: 0;
	margin-top: 5px;
}

#actionbutton:hover {
	color: #87cefa;
	background: black;
}

.margin2 {
	margin-right: 165px;
}

.margin {
	margin-right: 80px;
}

/*** user info section ***/
#infoSection {
	position: absolute;
	height: 100%;
	width: 40%;
	display: inline-block;
	left: 30%;
	text-align: center;
	border-right: 3px dotted #f0ad4e;
}

#innerInfo {
	position: relative;
}

#innerInfo p, #innerInfo h2 {
	font-weight: bold;
	margin-bottom: 20px;
	font-size: 1.2em;
}

#innerInfo h2 {
	font-size: 2.0em;
	text-decoration: underline;
}

#reviewSection {
	position: absolute;
	height: 100%;
	width: 30%;
	display: inline-block;
	left: 70%;
	text-align: center;
	overflow: scroll;
}

#reviews {
	position: relative;
	margin-top: 10px;
}

#reviews p, #reviews h2 {
	font-weight: bold;
	margin-bottom: 20px;
	font-size: 1.2em;
}

#reviews h2 {
	font-size: 2.0em;
	text-decoration: underline;
}


