/***
search.css: all styling for front page landing document
***/

* {
	padding: 0;
	margin: 0;
}

html {
	position: relative;
	height: 100%;
	width: 100%;
}

body {
	background-color: #2d2d2d;
	position: relative;
	height: 100%;
	width: 100%;
	font-family: Tahoma, Geneva, sans-serif;
}

/*** Header styling ***/
#header {
	position: relative;
	height: 15%;
	width: 100%;
	background: white;
	box-sizing: border-box;
	border-bottom: 3px solid #87cefa;
}

/* 2.348 aspect ratio */
#header img {
	position: relative;
	display: inline-block;
	margin: 0;
	padding: 0;
	height: 98%;
}




#wrapper1 {
	width: 100%;
}

#parameters {
	border-radius: 10px;
	padding: 20px;
	float: left;
	display: inline-block;
	width: 15%;
	color: black;
	background: white;
	margin-top: 5%;
	margin-left: 5%;
}

#searchwrapper {
	padding: 20px;
	float: right;
	display: inline-block;
	width: 70%;
	margin-right: 5%;
	margin-left: 5%;
	margin-top: 1%;
}

#searchtextbox {
	background: white;
	/*margin: 0 auto;*/
	width: 93%;
	padding: 0%;
	margin-left: 10px;
}

#searchboxwrapper {
	background: white;
	padding: 15px;
	border-radius: 10px;
	margin-left: 5px;
}

#searchboxwrapper img {
	background: #a3a3a3;
	border-radius: 999999px;
	padding: 2px;
}

.results {
  display: flex;
  justify-content: space-between;
}

.col {
  flex: 1;
  width: 32%;
}

h1 {
	margin-top: 0px;
	text-align: center;
	font-size: 18px;
}

.entry {
	background: white;
	border-radius: 10px;
	margin: 20px;
	height: 25%;
	padding: 15px;
}

.entry img{
	width: 100px
}

.result-img {
	float: left;
}

.result-info {
	width: 80%;
	padding: 10px;
	text-align: left;
	float: right;
}

.entry button {
	border-radius: 10px;
	width: 100%;
	font-size: 1.2em;
	background: #a3a3a3;
	color: white;
	padding: 4px;
	transition: all 0.3s ease-in-out;
}

.entry button:hover{
	background: #696969;
	transition: all 0.3s ease-in-out;
}

.entry button img {
	margin-left: auto;
	margin-right: auto;
	width: 15%;
}